# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# CocoaPods
Pods/

# Misc
*.swp
*.lock
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
